.mt100 {
    margin-top: 100px;
}

.login {
    padding: 20px;
    margin: 0 auto;
    border: 1px solid darkblue;
    border-radius: 5px;
    width: 450px;
    -webkit-box-shadow: 0px 14px 52px 0px rgba(4,15,71,0.61);
    -moz-box-shadow: 0px 14px 52px 0px rgba(4,15,71,0.61);
    box-shadow: 0px 14px 52px 0px rgba(4,15,71,0.61); 
    background-color: rgb(240,240,240);
}


body {
    background-color: rgb(50,50,50);
}