/Nivelamento_Java/PrimeiroProjeto/nbproject/private/
/Nivelamento_Java/PrimeiroProjeto/build/
.DS_Store
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/Bhaskara/nbproject/private/
/Bhaskara/build/
/CalculosTerreno/nbproject/private/
/CalculosTerreno/build/
/CookiesSessoes/nbproject/private/
/CookiesSessoes/build/
